<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Digicare</title>
	<link rel="stylesheet" href="static/fontawesome/css/all.min.css"> <!-- https://fontawesome.com/ -->
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet"> <!-- https://fonts.google.com/ -->
    <!--<link href="css/bootstrap.min.css" rel="stylesheet">-->
    <link href="static/css/digicare.css" rel="stylesheet">

</head>
<body>
	<header class="tm-header" id="tm-header">
        <div class="tm-header-wrapper">
            <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="tm-site-header">
              <!--  <div class="mb-3 mx-auto tm-site-logo"><i class="fas fa-times fa-2x"></i>
                    <img src="static/img/Logo_white.png" >
                </div>-->
                <img src="static/img/Logo_white.png" width = '300' height='300' />
                <h2 class="text-center">Digicare</h2>
            </div>
            <nav class="tm-nav" id="tm-nav">
                <ul>
                    <li class="tm-nav-item "><a href="http://127.0.0.1:5000/index" class="tm-nav-link">
                        <i class="fas fa-home"></i>
                        Personal Details
                    </a></li>
                    <li class="tm-nav-item "><a href="http://127.0.0.1:5000/medicaldetails" class="tm-nav-link">
                        <i class="fas fa-pen"></i>
                        Medical Details
                    </a></li>
                    <li class="tm-nav-item active"><a href="http://127.0.0.1:5000/medicalhistory" class="tm-nav-link">
                        <i class="fas fa-users"></i>
                        Medical History
                    </a></li>
                    <li class="tm-nav-item"><a href="templates/login.html" class="tm-nav-link">
                        <i class="fas fa-users"></i>
                        Log Out
                    </a></li>
                    <!--<li class="tm-nav-item"><a href="templates/contact.html" class="tm-nav-link">
                        <i class="far fa-comments"></i>
                        Contact Us
                    </a></li>-->
                </ul>
            </nav>

            <h4 class="tm-mb-80 pr-5 text-white">
                DIGICARE
            </h4>
        </div>
    </header>
    <div class="container-fluid">
        <main class="tm-main">
            <!-- Search form -->

            <div class="row tm-row">
                <article class="col-12 col-md-6 tm-post">

                        <h2 class="tm-pt-30 tm-color-primary tm-post-title">Cerebral Venous Thrombosis</h2>
                        <!--<font size=5><font color: #999>-->
                    <p class="tm-pt-30">
                            Symptoms&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;Vomiting,Headache<br>
                            State&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;active<br>
                            Nature&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;acute<br>
			    Dignosis&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;MRI Scan,CT Scan<br>
                            Source&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;Thrombophilla<br>
                    </p>
                    <hr>
                    <h2 class="tm-pt-30 tm-color-primary tm-post-title">Gastric Trouble</h2>
                        <!--<font size=5><font color: #999>-->

                    <p class="tm-pt-30">
				Symptoms&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;Vomiting<br>
				State&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;active<br>
				Nature&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;acute<br>
				Dignosis&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;Endoscopy<br>

												</p>


            </div>
        </main>
    </div>

</body>
</html>
